body {
    background: url(bg.png) no-repeat; 
    background-position: cover;
    position: relative;
    text-align: center;
    min-width: 650px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
